*{
	margin: 0px;
	padding: 0px;
}

h1{
	font-size:33px;
	font-family:sans-serif;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: linear-gradient(rgba(255,0,0,0),rgba(255,0,0,1));
	position: fixed;
	top: 0px;
	width: 100%;
}

ul{
	display: flex;
}

li{
	list-style-type: none;
	margin: 10%;
}
a{
	text-decoration: none;
	letter-spacing: 3px;
	color: white;
}